{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "quoteProps": "consistent",
    "vueIndentScriptAndStyle": true,
    "overrides": [
      {
        "files": "*.json",
        "options": {
          "parser": "json",
          "tabWidth": 2
        }
      },
      {
        "files": "*.html",
        "options": {
          "parser": "html"
        }
      }
    ]
  }
  